

<link rel="stylesheet" href="/static/style.css">

<body>

<div class="page">

    <!-- Center Title -->
    <div class="top-header">
        <h1>📊 Dashboard</h1>
    </div>

    <!-- Main Layout -->
    <div class="wrapper">

        <!-- Side Menu -->
        <div class="side-panel">
            
            <a href="/allocation">⚙️ Allocation</a>
            
            
        </div>

        <!-- Resource Allocation Card -->
        <div class="main-card">
            <h2>🚨 Resource Allocation</h2>

            
        </div>

    </div>

</div>

</body>

